<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dmx.blog</title>
  </head>

  <style>
    a {
      text-decoration: none;
    }

    .date {
      opacity: 0.2;
    }    

  </style>

  <body>
    {% for article in articles %}
      <p><a href=/article/{{article.id}}>{{ article.name }}</a> <span class="date">{{ article.pub_date }}</span></p>
    {% endfor %}
  </body>
</html>
