<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create new article</title>
  </head>

  <style>
    .admin {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 30%;
    } 

    .input {
      margin: 0 0 20px 0;
      padding: 15px 10px;
      border-radius: 20px;
      border: none;
      background-color: #d8bea221;
    }

    .input:focus {
      outline: none;
    }
    
    .title {
      font-size: 70px; 
      font-weight: 600;
      text-align: center;
    }

    .wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .submit {
      display: inline;
      border: none;
      border-radius: 20px;
      background-color: #d8bea221;
      padding: 5px;
      font-size: 20px;
      transition: background-color .2s;
    }

    .submit:hover {
      background-color: #d8bea2;
    }
  </style>
  <div class="wrap">
    <h1 class="title">Enter admin password</h1>
    <form class="admin" method="post" action="/login">
      <input name="password" class="input" placeholder="enter password" type="password" required>
      <input class="submit" type="submit" value="login">
    </form>
  </div>

  {% if wrong_pass %}
  <script>
    window.alert("Wrong password");
  </script>
  {% endif %}
</html>
